{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Divisima | eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Hojas de estilo -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/style.css'%}"/>

</head>
<body>
<!-- Cabezera -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on divisima ....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="#">Loguear</a> O<a href="#">Crear cuenta</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="#">Carrito de Compra</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu de navegacion -->
				<ul class="main-menu">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Mujer</a></li>
					<li><a href="#">Hombre</a></li>
					<li><a href="#">Categorias</a>
						<ul class="sub-menu">
							<li><a href="./product.html">Producto Paginas</a></li>
							<li><a href="./category.html">Categorias Paginas</a></li>
							<li><a href="./cart.html">Carrito Paginas</a></li>
							<li><a href="./contact.html">Contacto Paginas</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
<!-- Fin de Cabezera -->

	<!-- Block contenido -->
	{% block content%}
	{% endblock content%}
	
	<!-- endblock contenido -->

    <!-- Footer  -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./img/logo-light.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
						<img src="img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Bloggers</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Your Company Ltd </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+53 345 7953 32453</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>office@youremail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer fin -->
<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js'%}"></script>
	<script src="{% static 'js/owl.carousel.min.js'%}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
	<script src="{% static 'js/jquery.zoom.min.js'%}"></script>
	<script src="{% static 'js/jquery-ui.min.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>
</body>
</html>




